<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello, <%= @user.name %></p>
    <p> Click <a href="<%= @link %>">here</a> to reset your password</p>
  </body>
</html>

