<div class="content-pane">
  <h2 class="title center-text">{{glyphicon}} {{title}}</h2>
  <buttonDelete class="buttonDelete"><a id="close"><span class="glyphicon glyphicon-remove"></span></a></buttonDelete>


  <table>
    <tr>
      <td><p class="key">{{authorLabel}}:</p></td>
      <td><p class="value">{{author}}</p></td>
    </tr>

    <tr class="kv">
      <td><p class="key">{{createdLabel}}:</p></td>
      <td><p class="value">{{created}}</p></td>
    </tr>
    
    <tr class="kv">
      <td><p class="key">Posted:</p></td>
      <td><p class="value">{{created_at}}</p></td>
    </tr>

    <tr class="kv">
      <td><p class="key">Tags:</p></td>
      <td><p class="value">{{tags}}</p></td>
    </tr>
  </table>
</div>
