<div class="content-pane">
  <h2 class="title center-text">{{glyphicon}} {{title}}</h2>
  <buttonDelete class="buttonDelete"><a id="close"><span class="glyphicon glyphicon-remove"></span></a></buttonDelete>
  <ul class="value-map">
    <li class="kv">
      <p class="key">{{authorLabel}}:</p>
      <p class="value">{{author}}</p>
    </li>

    <li class="kv">
      <p class="key">{{createdLabel}}:</p>
      <p class="value">{{created}}</p>
    </li>
    
    <li class="kv">
      <p class="key">Posted:</p>
      <p class="value">{{created_at}}</p>
    </li>

    <li class="kv">
      <p class="key">Tags:</p>
      <p class="value">{{tags}}</p>
    </li>
  </ul>
</div>
