<% content_for :templates do %>
<link type="text/html" rel="import"  href="/templates/banner.html" id="banner-template" />
<% end %>

<% content_for :backbone do %>
<%= javascript_include_tag 'banner' %>
<% end %>

<div id="canvas">
  <div class="container">
    <div id="banner"></div>
  </div>
</div>
