
<%= form_for :reset,  url: '/password_reset_request/' do |f| %>

<table>
  <tr>
    <td><%= f.label :name %></td>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <td><%= f.button "Submit" %></td>
  </tr>
</table>
    
<% end %>


