
@import "bootstrap-sprockets";
@import "bootstrap";


#banner {
	margin-top: 20px;
}

#canvas {
	position: absolute;
	top: 0;
	bottom:0;
	left:0;
	right:0;
  	background: linear-gradient(to top,#700000, #A00000) no-repeat;
}

.content-pane {
    background-color:#FFF;
    border-radius:5px;
}

.title {
    background: linear-gradient(to bottom, #ccc, #fff) repeat;
    border-radius:5px;
}

.content-pane .list-group-item:last-child {
    background: linear-gradient(to top, #ddd 25%, #fff 75%) no-repeat;
}

.content-pane > .title {
    margin-top:10px;
    padding: 20px;
}

a { 
    font-family: 'Roboto Slab', serif;
}

