<!DOCTYPE html>
<html>
<head>
  <title>Market</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link type="text/html" rel="import"  href="/templates/banner.html" id="banner-template" />
</head>
<body>
  <div class="container">
    <div id="banner"></div>
    <%= yield %>
    
  </div>
</body>
</html>
